<ul class="social-sharing">
  <li>
    <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.testpage.com&t=Title" title="Share on Facebook" target="_blank">
      <span class="icon">{% include typicons/social-facebook-circular.svg %}</span>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.testpage.com&text=Title:%20http%3A%2F%2Fwww.testpage.com&via=ntnlbd" target="_blank" title="Tweet">
      <span class="icon">{% include typicons/social-twitter-circular.svg %}</span>
    </a>
  </li>
  <li>
    <a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.testpage.com" target="_blank" title="Share on Google+">
      <span class="icon">{% include typicons/social-google-plus-circular.svg %}</span>
    </a>
  </li>
  <li>
    <a href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Fwww.testpage.com&t=Title&s=" target="_blank" title="Post to Tumblr">
      <span class="icon">{% include typicons/social-tumbler-circular.svg %}</span>
    </a>
  </li>
  <li>
    <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.testpage.com&media=http://{{site.baseurl}}/assets/images.clipartpanda.com/stop-sign-clipart-Anonymous_stop_sign.png&description=Description" target="_blank" title="Pin it">
      <span class="icon">{% include typicons/social-pinterest-circular.svg %}</span>
    </a>
  </li>
</ul>
