---
layout: default
---

<div class="category-archive">

  {% if site.categories %}
    <ul class="product-categories">
    <li>
       <a href="/">all</a>
    </li>
    {% for category in site.categories %}
      {% assign cat = category | first %}
      {% unless cat == 'featured' or cat == 'all' %}
        {% if page.url contains cat %}
          {% assign class = "active" %}
        {% else %}
          {% assign class = "" %}
        {% endif %}
        <li>
          <a href="/{{ category | first }}/" class="{{ class }}">{{ category | first }}</a>
        </li>
      {% endunless %}
    {% endfor %}
    </ul>
  {% endif %}

  <ul class="product-list">
    {% for post in page.posts %}
      {% include product-list.html %}
    {% endfor %}
  </ul>

</div>
